{% extends 'base.html' %}

{% block title %}401 - Accesso Negato{% endblock %}

{% block content %}
<div class="container content-container">

    <div class="row no-gutters">

        <div class="col-md-9 order-md-2">
            <div class="about-page-block">
                <p class="lead">Errore 401.</p>
                <hr>
                <p>Accesso Negato.</p>
                <p>Non si dispone dei permessi necessari a poter effettuare l'operazione.</p>
                <hr>
                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('homepage') }}">↩ Tutti i Post</a>            
            </div>    

        </div>

        <div class="col-md-3 order-md-1">
            {% include 'about_me_snippet.html' %}              
        </div>

    </div>
    
</div>
{% endblock %}