<div class="about-snippet-block text-center">
    <img class="img-fluid" width="150" src="{{ url_for('static', filename='img/ai.png') }}" alt="">
    <div class="mt-3">
        <p class="p-small-one">Vitae curae eu platea lectus imperdiet, habitant nisi.</p> 
        <p class="p-small-one">Mollis ante vehicula nec commodo pharetra gravida, montes adipiscing.</p>
        <p class="p-small-one">Malesuada sed erat fringilla scelerisque commodo, aenean blandit.</p>              
        <hr>
        <p class="p-small-one text-muted">Mollis ante vehicula nec commodo pharetra gravida, montes adipiscing.</p>
        <p class="p-small-one text-muted">Malesuada sed erat fringilla scelerisque commodo, aenean blandit.</p>              
    </div>
</div>






