{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row no-gutters">
        
        <div class="col-md-9 order-md-2">
            {% for post in posts.items %}
            <div class="single-post-home">   
                <h5>
                    <a class="custom-link" href="{{ url_for('post_detail', post_slug=post.slug) }}">
                        {{ post.title }}
                    </a>
                </h5>
                <p class="p-small-two text-muted">
                    {{ post.created_at.strftime('%d.%m.%Y') }}
                </p>

                {% if post.description %}
                <p class="p-small-one text-muted mb-0">
                    {{ post.description }}
                    <a class="read-more" href="{{ url_for('post_detail', post_slug=post.slug) }}">Leggi articolo.</a>
                </p>
                {% endif %}
            </div>
            {% endfor %}
            
            <div class="pagination-block">
                {% if previous_page %}
                {% if current_page == 2 %}
                <a class="btn btn-sm btn-outline-secondary" href="/">↩ Indietro</a>
                {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ previous_page }}">↩ Indietro</a>
                {% endif %}
                {% endif %}
                {% if next_page %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ next_page }}">↪ Avanti</a>
                {% endif %}
            </div>
        </div>

        <div class="col-md-3 order-md-1">
            {% include 'about_me_snippet.html' %}           
        </div>

    </div>    
</div>
{% endblock %}