{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container content-container">

    <div class="row no-gutters">

        <div class="col-md-9 order-md-2">
            {% for post in posts %}
            <div class="single-post-home">                           
                <h5>{{ post.title }}</h5>
                <p>{{ post.body }}</p>
            </div>
            {% endfor %}         
        </div>

        <div class="col-md-3 order-md-1">
            {% include 'about_me_snippet.html' %}           
        </div>

    </div>
    
</div>
{% endblock %}