{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container text-center mt-3">
    <br>
    <h2>Admin Login</h2>
    <div class="row no-gutters justify-content-center">
        <div class="col-md-4">
            
            <form method="POST" novalidate>
                {{ form.hidden_tag() }} <!-- csrf_token -->
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                    {% if form.password.errors %}
                    {% for error in form.password.errors %}
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                {{ form.submit(class="btn btn-outline-secondary") }}
            </form>

            <div class="mt-3">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <p style="color: #dc3545">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

        </div>
    </div> 
</div>
{% endblock %}